@import "../../constants/variables";

.result {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: $backgroundColor url("../../assets/home_downpattern.png") no-repeat center bottom/100%;

  .fade-out-leave-active {
    transition: all 0.5s;
  }

  .fade-out-leave-to {
    opacity: 0;
  }

  .loading {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $backgroundColor url("../../assets/home_downpattern.png") no-repeat center bottom/100%;
    z-index: 10;

    .animation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 136px;

      & > div {
        width: 30px;
        height: 40px;
        border-radius: 10px;
        background-color: $textColor;
        animation: jump 1.2s infinite ease-in-out;

        &:nth-child(2) {
          animation-delay: 0.3s;
        }

        &:nth-child(3) {
          animation-delay: 0.6s;
        }

        &:nth-child(4) {
          animation-delay: 0.9s;
        }
      }
    ;

      @keyframes jump {
        50% {
          transform: translateY(-40px);
        }
      }
    }

    .loading-text {
      margin-top: 37px;
      color: $textColor;
      font-size: 36px;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;

    .background {
      position: relative;
      width: 666px;
      padding: 241px 0 185px;
      margin: 224px 0 30px;
      background-color: #ebebeb;
      border-radius: 30px;

      .header {
        position: absolute;
        top: -218px;
        left: 63px;
        width: 552px;
        height: 409px;
        background: url("../../assets/result_pattern.png") no-repeat center center/100% 100%;
      }

      .flag {
        position: absolute;
        top: 220px;
        right: 19px;
        width: 73px;
        height: 93px;
        background: url("../../assets/result_flag.png") no-repeat center center/100% 100%;
      }

      .banner {
        position: absolute;
        top: 106px;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 36px);
        height: 109px;
        padding: 13px 18px;
        background-color: $textColor;

        .avatar {
          height: 100%;
        }

        .text {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: calc(100% - 103px);
          height: 100%;
          margin-left: 20px;
          color: #fff;

          .username {
            padding: 0;
            margin: 0;
            font-size: 32px;
            font-weight: normal;
          }

          .title {
            padding: 0;
            margin: 0;
            font-size: 36px;
            font-weight: normal;
          }
        }
      }

      .report {
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-height: 310px;

        .words {
          padding: 16px 0 0 36px;
          margin: 0;
          width: 280px;
          color: $textColor;
          font-size: 28px;
          letter-spacing: 2px;
        }

        #radar {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 345px;
          min-height: 310px;
        }
      }

      .speaker {
        position: absolute;
        bottom: 90px;
        left: 18px;
        display: flex;

        .left {
          width: 83px;
          height: 83px;
        }
      }

      .prompt {
        position: absolute;
        bottom: 18px;
        left: 18px;
        width: 424px;
        margin: 0 0 0 16px;
        color: $textColor;
        font-size: 22px;
        line-height: 31px;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      margin: 0 0 88px;
      z-index: 1;

      a {
        text-decoration: none;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 209px;
        height: 93px;
        padding-bottom: 10px;
        font-size: 28px;
        color: $textColor;
        background: url("../../assets/result_button.png") no-repeat center center/100% 100%;
        border-style: none;
        outline: none;
        cursor: pointer;
      }
    }
  }

  .copyright {
    position: absolute;
    left: 37px;
    bottom: 20px;
    display: flex;
    align-items: center;
    height: 37px;
    padding-left: 43px;
    color: #5d7071;
    font-size: 24px;
    background: url("../../assets/result_logo.png") no-repeat left center/35px 37px;
  }

  .float-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    .mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);

     .arrow {
       float: right;
       width: 507px;
       height: 180px;
       margin: 20px 26px 0 0;
       background: url("../../assets/result_arrow.png") no-repeat center center/100%;
     }

      .save-it {
        width: 492px;
        height: 107px;
        margin: 528px auto 0;
        background: url("../../assets/result_saveit.png") no-repeat center center/100%;
      }
    }

    .share-img {
      width: 100%;
      height: 100%
    }
  }

  .input-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;

    .modal {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 535px;
      height: 356px;
      //margin-top: 291px;
      background-color: #ebebeb;
      border-radius: 30px;

      img {
        width: 328px;
        margin-top: 36px;
      }

      input {
        width: 363px;
        height: 77px;
        padding: 0 30px;
        margin-top: 33px;
        color: $textColor;
        border-radius: 20px;
        border: solid 6px #b6b6b4;
        outline: none;
      }
    }

    .confirm-button {
      width: 315px;
      height: 154px;
      margin-top: 32px;
      cursor: pointer;
      border-style: none;
      outline: none;
      background: url("../../assets/button_confirm.png") no-repeat center center/100% 100%;
    }
  }
}

.fade-in-enter {
  opacity: 0;
}

.fade-in-enter-active {
  transition: all 0.5s;
}
