@import '../../constants/variables';

.option {
  width: 100%;
  margin-bottom: 57px;

  .option-img {
    width: 100%;
    margin-bottom: 21px;
  }

  .option-button {
    width: 100%;
    height: 74px;
    padding: 0 31px;
    margin: 0;
    line-height: 74px;
    border-radius: 30px;
    color: $textColor;
    background-color: #fff;
    font-size: 32px;
    border-style: none;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  .active {
    color: #fff;
    background-color: #a67329;
  }
}
