@import "../../constants/variables";

.home {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: $backgroundColor url("../../assets/home_downpattern.png") no-repeat center bottom/100%;

  .button {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .cover {
    margin-top: 86px;
    width: 574px;
    height: 615px;
  }

  .word-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 72px;
    background-color: #fff;

    .word {
      width: 434px;
      height: 43px;
    }
  }

  .begin-button {
    margin-top: 40px;
    width: 289px;
    height: 134px;
    border-style: none;
    background: transparent url("../../assets/home_button.png") no-repeat center center/100% 100%;
    outline: none;
    cursor: pointer;
  }

  .copyright {
    position: absolute;
    left: 37px;
    bottom: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    color: #5d7071;
    font-size: 24px;

    img {
      width: 35px;
      height: 37px;
      margin-right: 8px;
    }
  }
}

.slide-leave-active {
  transition: all 1s ease-in;
}

.slide-leave-to {
  transform: translateY(-100%);
}
